# Prepare

**import**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sys
sys.path.append("./util_")
import acquire
import prepare

### get data

In [2]:
# get data from acquire file
dogs = acquire.get_data()
dogs.head()

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
0,1,January 01 2018,DOG,UNKNOWN,NaN,U,False,Brooklyn,11220
1,2,January 04 2018,DOG,UNKNOWN,NaN,U,False,Brooklyn,NaN
2,3,January 06 2018,DOG,Pit Bull,NaN,U,False,Brooklyn,11224
3,4,January 08 2018,DOG,Mixed/Other,4,M,False,Brooklyn,11231
4,5,January 09 2018,DOG,Pit Bull,NaN,U,False,Brooklyn,11224

## Check column data types

In [3]:
dogs.select_dtypes("object")

,DateOfBite,Species,Breed,Age,Gender,Borough,ZipCode
0,January 01 2018,DOG,UNKNOWN,NaN,U,Brooklyn,11220
1,January 04 2018,DOG,UNKNOWN,NaN,U,Brooklyn,NaN
2,January 06 2018,DOG,Pit Bull,NaN,U,Brooklyn,11224
3,January 08 2018,DOG,Mixed/Other,4,M,Brooklyn,11231
4,January 09 2018,DOG,Pit Bull,NaN,U,Brooklyn,11224
...,...,...,...,...,...,...,...
22658,December 24 2017,DOG,CHIWEENIE MIX,7,M,Staten Island,10303
22659,December 24 2017,DOG,DUNKER,5,F,Staten Island,10303
22660,December 21 2017,DOG,"Schnauzer, Miniature",10M,M,Staten Island,10312
22661,December 28 2017,DOG,Mixed/Other,NaN,F,Staten Island,10308
22662,December 29 2017,DOG,BOXER/PIT BULL,NaN,M,Staten Island,10314

In [4]:
# convert string to datetime
pd.to_datetime(dogs['DateOfBite'])

0       2018-01-01
1       2018-01-04
2       2018-01-06
3       2018-01-08
4       2018-01-09
           ...
22658   2017-12-24
22659   2017-12-24
22660   2017-12-21
22661   2017-12-28
22662   2017-12-29
Name: DateOfBite, Length: 22663, dtype: datetime64[ns]

In [62]:
dogs.Age.isna().sum()

11221

In [57]:
# get all the cells that are not nulls
non_null_dogs = dogs[dogs.Age.notna()]

# find all year strings ages
len(non_null_dogs.Age[non_null_dogs.Age.str.contains(r"[yY]", regex=True)])

384

In [58]:
# find all month strings ages
len(non_null_dogs.Age[non_null_dogs.Age.str.contains(r"[mM]", regex=True)])

775

In [59]:
# find all weeks strings ages
len(non_null_dogs.Age[non_null_dogs.Age.str.contains(r"[KkwW]", regex=True)])

20

1159

## Remove columns

remove ZipCode beacause most of my data has NaN cells.

In [8]:
# drop redundent columns
remove_cols = ["UniqueID", "ZipCode"]
dogs = prepare.drop_cols(dogs, remove_cols)

Original dataframe size: (22663, 9)
New dataframe size: (22663, 7)